.text-white {
  color: white;
}

.text-red {
  color: red;
}

.text-48 {
  font-size: 48px;
}

.text-24 {
  font-size: 24px;
}

.text-line-height-normal {
  line-height: normal;
}

.text-line-height-34px {
  line-height: 34px;
}
