.bsp/
workspace.code-workspace
.vscode/
server/logs
server/target/*
server/project/target/*
server/project/project/*
server/*.iml
server/.idea
server/out/
*.DS_Store
server/.idea_modules
server/.classpath
server/.project
server/.settings
server/RUNNING_PID
docker/node/project/node_modules/*
server/modules/flyway/target/*
server/modules/slick/target/*
server/deployment/env/dev/api-deployment.yml
